# Virtual environments
venv/
.venv/

# Python bytecode / caches
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Testing
.pytest_cache/
.coverage

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

personal_doc.md
